{% extends "base.html" %}
{% block title %}تبدیل شماره حساب بانک پارسیان به شماره شبا{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row text-center">
      <div class="col-sm">
        <h3>شماره حساب را وارد کنید:</h3>
        <div class="form-group"></div>
            <form action="/acnttoiban/parsian" method="POST">
                <label for="accountnumber" class="col-sm-2 col-form-label" >شماره حساب پارسیان :</label>
                <input name="accountnumber"><br><br>
                <input class="btn btn-primary" type="submit" value="محاسبه">
            </form>
            <br></br>
            <a class="btn btn-outline-primary" href="/" role="button">
                بازگشت به صفحه اصلی
            </a>
              <br></br>
        </div>
        {% if iban%}
        <h3>{{ iban }}</h3>
        {% endif %}
      </div>
    </div>
{% endblock %}