{% extends "base.html" %}
{% block title %}
<title>خانه|شبایاب</title>
{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
          <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/ayandeh" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='ayandeh.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/ayandeh" target="_blank">بانک آینده</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/eghnovin" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='eghtesad-novin.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/eghnovin" target="_blank">بانک اقتصاد نوین</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/ansar" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='ansar.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/ansar" target="_blank">بانک انصار</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/iranzamin" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='iran-zamin.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/iranzamin" target="_blank">بانک ایران زمین</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/parsian" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='parsian.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/parsian" target="_blank">بانک پارسیان</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/pasargad" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='pasargad.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/pasargad" target="_blank">بانک پاسارگاد</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/tejarat" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='tejarat.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/tejarat" target="_blank">بانک تجارت</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/tosetavon" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='tosee-taavon.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/tosetavon" target="_blank">بانک توسعه تعاون</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/tosesaderat" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='export-development.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/tosesaderat" target="_blank">بانک توسعه صادرات ایران</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/hekmat" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='hekmat-iranian.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/hekmat" target="_blank">بانک حکمت ایرانیان</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/khavarmiane" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='middle-east.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/khavarmiane" target="_blank">بانک خاورمیانه</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/dey" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='dey.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/dey" target="_blank">بانک دی</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/refah" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='refah.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/refah" target="_blank">بانک رفاه کارگران</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/saman" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='saman.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/saman" target="_blank">بانک سامان</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/sepah" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='sepah.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/sepah" target="_blank">بانک سپه</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/sarmayeh" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='sarmayeh.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/sarmayeh" target="_blank">بانک سرمایه</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/sina" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='sina.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/sina" target="_blank">بانک سینا</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/shahr" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='shahr.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/shahr" target="_blank">بانک شهر</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/saderat" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='saderat.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/saderat" target="_blank">بانک صادرات ایران</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/sanatmadan" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='industry-and-mine.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/sanatmadan" target="_blank">بانک صنعت و معدن</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="#" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='resalat.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="#" target="_blank">بانک قرض الحسنه رسالت</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="#" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='mehr-iran.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="#" target="_blank">بانک قرض الحسنه مهر ایران</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="#" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='ghavamin.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="#" target="_blank">بانک قوامین</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/karafarin" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='karafarin.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/karafarin" target="_blank">بانک کارآفرین</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/keshavarzi" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='keshavarzi.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/keshavarzi" target="_blank">بانک کشاورزی</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/gardeshgari" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='tourism.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/gardeshgari" target="_blank">بانک گردشگری</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="#" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='markazi.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="#" target="_blank">بانک مرکزی</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="#" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='maskan.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="#" target="_blank">بانک مسکن</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/mellat" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='mellat.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/mellat" target="_blank">بانک ملت</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/melli" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='melli.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/melli" target="_blank">بانک ملی ایران</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="#" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='mehr-eqtesad.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="#" target="_blank">بانک مهر اقتصاد</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="#" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='post-bank.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="#" target="_blank">پست بانک ایران</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="#" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='tosseh.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="#" target="_blank">موسسه اعتباری توسعه</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="#" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='melal.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="#" target="_blank">موسسه اعتباری ملل (عسکریه)</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="/acnttoiban/kosar" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='kosar.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/acnttoiban/kosar" target="_blank">موسسه اعتباری کوثر</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="#" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='noor.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="#" target="_blank">موسسه اعتباری نور</a></span></div>
          </div>
       </div>

 </div>

 {% endblock %}
    


