
{% include "header.html" %}

  <div class="container-fluid">
    <div class="row">
          <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://www.ba24.ir/services/sheba" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='ayandeh.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://www.ba24.ir/services/sheba" target="_blank">بانک آینده</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://iban.enbank.ir" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='eghtesad-novin.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://iban.enbank.ir" target="_blank">بانک اقتصاد نوین</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://www.ansarbank.ir/Fa/StaticPages/SHABA.aspx" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='ansar.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://www.ansarbank.ir/Fa/StaticPages/SHABA.aspx" target="_blank">بانک انصار</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://tools.izbank.ir/sheba.aspx" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='iran-zamin.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://tools.izbank.ir/izbrq/sheba.aspx" target="_blank">بانک ایران زمین</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://www.parsian-bank.ir/web_directory/64030" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='parsian.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://www.parsian-bank.ir/web_directory/64030" target="_blank">بانک پارسیان</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="http://bpi.ir/sheba" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='pasargad.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="http://bpi.ir/sheba" target="_blank">بانک پاسارگاد</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="http://www.tejaratbank.ir/web_directory/1835-Get-the-sheba-code.html" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='tejarat.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="http://www.tejaratbank.ir/web_directory/1835-Get-the-sheba-code.html" target="_blank">بانک تجارت</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://ttbank.ir/fa/page/100592-محاسبه-کد-شبا.html" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='tosee-taavon.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://ttbank.ir/fa/page/100592-محاسبه-کد-شبا.html" target="_blank">بانک توسعه تعاون</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://ebank.edbi.ir/Iban/iban.jsp" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='export-development.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://ebank.edbi.ir/Iban/iban.jsp" target="_blank">بانک توسعه صادرات ایران</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://ww2.hibank24.ir/#/sheba" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='hekmat-iranian.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/hekmat" target="_blank">بانک حکمت ایرانیان</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://www.middleeastbank.ir/page/IBAN" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='middle-east.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://www.middleeastbank.ir/page/IBAN" target="_blank">بانک خاورمیانه</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="http://bank-day.ir/sheba.htm" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='dey.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="http://bank-day.ir/sheba.htm" target="_blank">بانک دی</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://gsh.rb24.ir/sheba_new.aspx" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='refah.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://gsh.rb24.ir/sheba_new.aspx" target="_blank">بانک رفاه کارگران</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://forms.sb24.ir/sheba" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='saman.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://forms.sb24.ir/sheba" target="_blank">بانک سامان</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://epay.ebanksepah.ir/ShebaPursuit.aspx" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='sepah.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://epay.ebanksepah.ir/ShebaPursuit.aspx" target="_blank">بانک سپه</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="http://www.sbank.ir/services/ibna/add/_sub_menu_/0/_menu_/0/" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='sarmayeh.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="http://www.sbank.ir/services/ibna/add/_sub_menu_/0/_menu_/0/" target="_blank">بانک سرمایه</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://www.sinabank.ir/web_directory/416-%D8%AA%D8%A8%D8%AF%DB%8C%D9%84-%D8%B4%D9%85%D8%A7%D8%B1%D9%87-%D8%B3%D9%BE%D8%B1%D8%AF%D9%87-%D8%B4%D8%A8%D8%A7-%D8%B4%D8%A8%D8%A7-%D8%B4%D9%85%D8%A7%D8%B1%D9%87-%D8%B3%D9%BE%D8%B1%D8%AF%D9%87.html" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='sina.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://www.sinabank.ir/web_directory/416-%D8%AA%D8%A8%D8%AF%DB%8C%D9%84-%D8%B4%D9%85%D8%A7%D8%B1%D9%87-%D8%B3%D9%BE%D8%B1%D8%AF%D9%87-%D8%B4%D8%A8%D8%A7-%D8%B4%D8%A8%D8%A7-%D8%B4%D9%85%D8%A7%D8%B1%D9%87-%D8%B3%D9%BE%D8%B1%D8%AF%D9%87.html" target="_blank">بانک سینا</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://shahr-bank.ir/web_directory/55265.html" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='shahr.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://shahr-bank.ir/web_directory/55265.html" target="_blank">بانک شهر</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="http://www.bsi.ir/Pages/sheba.aspx" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='saderat.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="http://www.bsi.ir/Pages/sheba.aspx" target="_blank">بانک صادرات ایران</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://www.bim.ir/Portal/Home/Default.aspx?CategoryID=9d57f86e-d24f-4247-a2eb-e0efb22c1f69" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='industry-and-mine.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://www.bim.ir/Portal/Home/Default.aspx?CategoryID=9d57f86e-d24f-4247-a2eb-e0efb22c1f69" target="_blank">بانک صنعت و معدن</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://www.rqbank.ir/محاسبه--شبا" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='resalat.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://www.rqbank.ir/محاسبه--شبا" target="_blank">بانک قرض الحسنه رسالت</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://www.qmb.ir/Index.aspx?page_=form&amp;lang=1&amp;sub=0&amp;tempname=Shaba&amp;PageID=83&amp;isPopUp=False#sheba" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='mehr-iran.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://www.qmb.ir/Index.aspx?page_=form&amp;lang=1&amp;sub=0&amp;tempname=Shaba&amp;PageID=83&amp;isPopUp=False#sheba" target="_blank">بانک قرض الحسنه مهر ایران</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://www.ghbi.ir/fa-IR/Ghavamin/4964/page/دریافت-شماره-شبا" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='ghavamin.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://www.ghbi.ir/fa-IR/Ghavamin/4964/page/دریافت-شماره-شبا" target="_blank">بانک قوامین</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://www.karafarinbank.ir/fa/bankingservices/bankingservices/sheba" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='karafarin.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://www.karafarinbank.ir/fa/bankingservices/bankingservices/sheba" target="_blank">بانک کارآفرین</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://ib.bki.ir/pid40.lmx" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='keshavarzi.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://ib.bki.ir/pid40.lmx" target="_blank">بانک کشاورزی</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="http://www.tourismbank.ir/tab-162/default.aspx" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='tourism.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="http://www.tourismbank.ir/tab-162/default.aspx" target="_blank">بانک گردشگری</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://www.cbi.ir/IBAN/7344.aspx" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='markazi.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://www.cbi.ir/IBAN/7344.aspx" target="_blank">بانک مرکزی</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://epayment.bank-maskan.ir/banking/shebainquery.aspx" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='maskan.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://epayment.bank-maskan.ir/banking/shebainquery.aspx" target="_blank">بانک مسکن</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://bastam.bankmellat.ir/bastam/sheba_service" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='mellat.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="/mellat" target="_blank">بانک ملت</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://bmi.ir/fa/shaba/" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='melli.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://bmi.ir/fa/shaba/" target="_blank">بانک ملی ایران</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://www.mebank.ir" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='mehr-eqtesad.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://www.mebank.ir" target="_blank">بانک مهر اقتصاد</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://oib.postbank.ir/ib/ibangen.aspx" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='post-bank.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://oib.postbank.ir/ib/ibangen.aspx" target="_blank">پست بانک ایران</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="http://www.cid.ir/tab-256/index.aspx" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='tosseh.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="http://www.cid.ir/tab-256/index.aspx" target="_blank">موسسه اعتباری توسعه</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://bank-melal.ir/Default.aspx?tabid=205" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='melal.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://bank-melal.ir/Default.aspx?tabid=205" target="_blank">موسسه اعتباری ملل (عسکریه)</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="http://www.kosarfci.ir/sheba" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='kosar.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="http://www.kosarfci.ir/sheba" target="_blank">موسسه اعتباری کوثر</a></span></div>
          </div>
           <div class="col-sm text-center">
             <div class="views-field views-field-field-image">
                <div class="field-content"><a href="https://noorbank.ir/Portal/home/?235760%2F%D8%AF%D8%B1%DB%8C%D8%A7%D9%81%D8%AA-%D8%B4%D9%86%D8%A7%D8%B3%D9%87-%D8%B4%D8%A8%D8%A7" target="_blank"><img typeof="foaf:Image" src="{{url_for('static', filename='noor.png')}}" alt="" width="150" height="150"></a></div>
             </div>
             <div class="text-center"><span class="field-content"><a href="https://noorbank.ir/Portal/home/?235760%2F%D8%AF%D8%B1%DB%8C%D8%A7%D9%81%D8%AA-%D8%B4%D9%86%D8%A7%D8%B3%D9%87-%D8%B4%D8%A8%D8%A7" target="_blank">موسسه اعتباری نور</a></span></div>
          </div>
       </div>

 </div>
    


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>