{% extends "base.html" %}
{% block title %}
خانه|شبایاب
{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block content %}
<div class="row text-center">
   <div class="col-md-12">
     <div class="hero-img wow fadeIn">
       <img class="img-fluid" src="{{url_for('static', filename='big.jpg')}}" alt="Home">
     </div>
   </div>
   <div class="col-md-12">
     <div class="hero-content wow fadeIn">
       <h1>پروژه آزاد محاسبه شناسه شبا (در حال توسعه)</h1>
       <p>این یک پروژه تفریحی است ولی تضمین میکنم کار میکنه!</p>
     </div>
   </div>
   <div id="products" class="features wow fadeInDown">
     <div class="container-m">
       <div class="row text-center">
         <div class="col-md-12">
           <div class="features-intro">
             <h2>بانک مورد نظر خود را انتخاب کنید.</h2>
             <p>از این لیست بانک مورد نظر خود را انتخاب تا به صفحه محاسبه شبا هدایت شوید </p>
           </div>
         </div>
         <div class="container-fluid">
            <div class="row">
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/ayandeh" ><img typeof="foaf:Image" src="{{url_for('static', filename='ayandeh.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/ayandeh" >بانک آینده</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/eghnovin" ><img typeof="foaf:Image" src="{{url_for('static', filename='eghtesad-novin.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/eghnovin" >بانک اقتصاد نوین</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/ansar" ><img typeof="foaf:Image" src="{{url_for('static', filename='ansar.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/ansar" >بانک انصار</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/iranzamin" ><img typeof="foaf:Image" src="{{url_for('static', filename='iran-zamin.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/iranzamin" >بانک ایران زمین</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/parsian" ><img typeof="foaf:Image" src="{{url_for('static', filename='parsian.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/parsian" >بانک پارسیان</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/pasargad" ><img typeof="foaf:Image" src="{{url_for('static', filename='pasargad.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/pasargad" >بانک پاسارگاد</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/tejarat" ><img typeof="foaf:Image" src="{{url_for('static', filename='tejarat.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/tejarat" >بانک تجارت</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/tosetavon" ><img typeof="foaf:Image" src="{{url_for('static', filename='tosee-taavon.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/tosetavon" >بانک توسعه تعاون</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/tosesaderat" ><img typeof="foaf:Image" src="{{url_for('static', filename='export-development.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/tosesaderat" >بانک توسعه صادرات ایران</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/hekmat" ><img typeof="foaf:Image" src="{{url_for('static', filename='hekmat-iranian.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/hekmat" >بانک حکمت ایرانیان</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/khavarmiane" ><img typeof="foaf:Image" src="{{url_for('static', filename='middle-east.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/khavarmiane" >بانک خاورمیانه</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/dey" ><img typeof="foaf:Image" src="{{url_for('static', filename='dey.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/dey" >بانک دی</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/refah" ><img typeof="foaf:Image" src="{{url_for('static', filename='refah.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/refah" >بانک رفاه کارگران</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/saman" ><img typeof="foaf:Image" src="{{url_for('static', filename='saman.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/saman" >بانک سامان</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/sepah" ><img typeof="foaf:Image" src="{{url_for('static', filename='sepah.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/sepah" >بانک سپه</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/sarmayeh" ><img typeof="foaf:Image" src="{{url_for('static', filename='sarmayeh.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/sarmayeh" >بانک سرمایه</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/sina" ><img typeof="foaf:Image" src="{{url_for('static', filename='sina.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/sina" >بانک سینا</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/shahr" ><img typeof="foaf:Image" src="{{url_for('static', filename='shahr.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/shahr" >بانک شهر</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/saderat" ><img typeof="foaf:Image" src="{{url_for('static', filename='saderat.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/saderat" >بانک صادرات ایران</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/sanatmadan" ><img typeof="foaf:Image" src="{{url_for('static', filename='industry-and-mine.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/sanatmadan" >بانک صنعت و معدن</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/resalat" ><img typeof="foaf:Image" src="{{url_for('static', filename='resalat.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/resalat" >بانک قرض الحسنه رسالت</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="#" ><img typeof="foaf:Image" src="{{url_for('static', filename='mehr-iran.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="#" >بانک قرض الحسنه مهر ایران</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="#" ><img typeof="foaf:Image" src="{{url_for('static', filename='ghavamin.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="#" >بانک قوامین</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/karafarin" ><img typeof="foaf:Image" src="{{url_for('static', filename='karafarin.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/karafarin" >بانک کارآفرین</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/keshavarzi" ><img typeof="foaf:Image" src="{{url_for('static', filename='keshavarzi.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/keshavarzi" >بانک کشاورزی</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/gardeshgari" ><img typeof="foaf:Image" src="{{url_for('static', filename='tourism.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/gardeshgari" >بانک گردشگری</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="#" ><img typeof="foaf:Image" src="{{url_for('static', filename='markazi.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="#" >بانک مرکزی</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="#" ><img typeof="foaf:Image" src="{{url_for('static', filename='maskan.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="#" >بانک مسکن</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/mellat" ><img typeof="foaf:Image" src="{{url_for('static', filename='mellat.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/mellat" >بانک ملت</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/melli" ><img typeof="foaf:Image" src="{{url_for('static', filename='melli.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/melli" >بانک ملی ایران</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="#" ><img typeof="foaf:Image" src="{{url_for('static', filename='mehr-eqtesad.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="#" >بانک مهر اقتصاد</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="#" ><img typeof="foaf:Image" src="{{url_for('static', filename='post-bank.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="#" >پست بانک ایران</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="#" ><img typeof="foaf:Image" src="{{url_for('static', filename='tosseh.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="#" >موسسه اعتباری توسعه</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="#" ><img typeof="foaf:Image" src="{{url_for('static', filename='melal.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="#" >موسسه اعتباری ملل (عسکریه)</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="/acnttoiban/kosar" ><img typeof="foaf:Image" src="{{url_for('static', filename='kosar.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="/acnttoiban/kosar" >موسسه اعتباری کوثر</a></span></div>
                  </div>
                  <div class="col-sm text-center">
                     <div class="views-field views-field-field-image">
                        <div class="field-content"><a href="#" ><img typeof="foaf:Image" src="{{url_for('static', filename='noor.png')}}" alt="" width="150" height="150"></a></div>
                     </div>
                     <div class="text-center"><span class="field-content"><a href="#" >موسسه اعتباری نور</a></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div> {% endblock %}
    


